
*{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    background: url(../img/digback.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.nav, .nav-link{
    text-decoration: none;
    color:ghostwhite;
}

.buttons{
display: flex;
justify-content: center;
gap: 15px;
}

#maincon{
    width: 50%;
    margin-top: 15%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    background-color: rgba(150, 150, 150, 0.5);
}