{% extends "base.html" %}
{% block content %}

    <div class="bg-blue-900 container mx-auto">
        <h1 class=" text-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-200 md:text-5xl lg:text-6xl">Welcome to <span class="text-green-600">Merlin</span></h1>
        <div class="container">
                    <h2>Register</h2>
                <form action="/new/user" method="POST" class="menu">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900>Email:</label>
                    <input type="email" name="email" id="email" placeholder="Enter Your Email">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password">
                    <label for="age">I Certify I Am Over The Age Of 18:</label>
                    <input type="checkbox" name="age" id="age" required >
                    <button type="submit" class="buttons, regbut">Register</button>
                </form>
        </div>
        <div class="container">
                <h2>Log In</h2>
                <form action="/login/user" method="POST" class="menu">
                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                    <button type="submit" class="buttons, logbut">Log In</button>    
                </form>
        </div>        
    </div>

{% endblock %}