{% extends "base.html" %}
{% block content %}

<div class="container-fluid h-100">
    <header class="mb-auto">
        <nav>
                <ul class="nav justify-content-end ">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">MERLIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
        </nav>
    </header>

    <div id="maincon" class="px-3 mx-auto text-center">
        <h1 class="display-2 text-light">Welcome to Merlin</h1>
        <div class="buttons">
        <p class="lead"> <a href="/dashboard" class="btn btn-lg btn-light fw-bold border-white bg-white">Chat Now</a></p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
        </p>
        </div>
    </div>
</div>
{% endblock %}