{% extends 'base.html' %}
{% block content %}
<div class="message-box maincon">
    <h2>Chat Room: {{room}}</h2>
    <div class="encrypt">
        <input type="number" name="shift" id="shift" placeholder="Key Shift">
        <input type="text" name="seed1" id="seed1" placeholder="Code Word 1">
        <input type="text" name="seed2" id="seed2" placeholder="Code Word 2">
        <input type="text" name="seed3" id="seed3" placeholder="Code Word 3">
        <input type="text" name="toenc" id="toenc" placeholder="Message To Encode" rows="3">
        <button type="button" name="encrypt" id="encrypt-btn" onclick="encrypt()">Encode Message</button>
    </div>
    <div class="messages" id="messages"></div>
    <div class="inputs">
        <input type="text" name="message" rows="3" placeholder="Clear Message" id="message">
        <button type="button" name="send" id="send-btn" onclick="sendMessage()">Send Clear Message</button>
    </div>
</div>
<div id="lower"> </div>

</div>

{% for msg in messages %}
    <script type="text/javascript">
        createMessage("{{msg.name}}","{{msg.message}}")
    </script>
{% endfor %}


{% endblock %}